<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Actualizar Estudiante</title>
</head>

<body>
  <h1>Actualizar Estudiante</h1>
  <form action="/exp/:studentId" method="post" enctype="multipart/form-data">
    <label for="image">Imagen:</label>
    <input type="file" id="image" name="image" accept="image/*" required><br>
    <button type="submit">Actualizar Estudiante</button>
  </form>
</body>

</html>