<!-- studentsList.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Estudiantes</title>
</head>

<body>
  <h1>Lista de Estudiantes</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Correo Electrónico</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      {{#each teachers}}
      <tr>
        <td>{{name}}</td>
        <td>{{email}}</td>
        <td><img src="/uploads/{{image}}" alt="Imagen del Estudiante" width="250px"></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>